<mat-card>
    <h1>Add student</h1>
    <form matForm>
      <div class="example-container">
        <div>
        <mat-form-field appearance="standard">
            <mat-label>Math AVG</mat-label>
            <input matInput
            [(ngModel)] = "mathAvg"
             name = "mathAvg"
            required>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="standard">
            <mat-label>SIT</mat-label>
            <input matInput 
              [(ngModel)] = "sit" 
              name = "sit" 
              required>
            </mat-form-field>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="paid"  name = "paid" >is paid?</mat-checkbox>
    </div>
    
      </div>
                  
        <div style="margin-top: 30px;">
            <button mat-raised-button *ngIf = "!result"
            (click) = "predict()" >
                Predict
            </button> 
            <button mat-raised-button mat-raised-button color="primary" 
            (click) = "onSubmit()" *ngIf = "result">
                Save
            </button> 
            <button mat-raised-button mat-raised-button color="primary" 
            (click) = "onCancel()" *ngIf = "result">
                Cancel
            </button> 
        </div>
        <div style="margin-top: 30px;">
            <mat-form-field appearance="fill">
            <mat-label>Pridctions outcome</mat-label>
            <mat-select  name="result" [(ngModel)] = "result">
            <mat-option *ngFor="let res of results" [value]="res" >
                {{res}}
            </mat-option>
            </mat-select>
            </mat-form-field>

        </div>
    </form>
</mat-card>
