<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- mathAvg Column -->
    <ng-container matColumnDef="mathAvg">
      <th mat-header-cell *matHeaderCellDef> mathAVG </th>
      <td mat-cell *matCellDef="let element"> {{element.mathAvg}} </td>
    </ng-container>
  
    <!-- sit Column -->
    <ng-container matColumnDef="sit">
      <th mat-header-cell *matHeaderCellDef> SIT </th>
      <td mat-cell *matCellDef="let element"> {{element.sit}} </td>
      </ng-container>
      <!-- paid Column -->
    <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef> Paid </th>
        <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
        </ng-container>

        <!-- result Column -->
    <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element"> {{element.result}} </td>
        </ng-container>

        <!-- email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{userMail}} </td>
        </ng-container>

        <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i= index">
            <button mat-raised-button color = "primary" (click) = "deleteStudent(i)">Delete</button>
         </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  